header {
  background-color: #579C87;
  height: 20vh;
  display: flex;
  justify-content: center;
}
header .logo {
  color: #FDCB46;
  font-family: "Roboto Slab", serif;
  font-size: 98px;
  line-height: 127px;
}

footer {
  height: 10vh;
  background-color: #579C87;
  margin-top: 100px;
}
footer .footer__list {
  border: 5px solid black;
  padding: 20px;
  display: flex;
}
footer .footer__list a {
  color: #FDCB46;
  font-size: 1.5rem;
}

button {
  width: 20vw;
  height: 8vh;
  background-color: #579C87;
  color: #FDCB46;
  font-size: 1.5rem;
  border-radius: 20px;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
}
button .fa-circle {
  font-size: 0.5rem;
}

* {
  padding: 0;
  margin: auto;
  text-decoration: none;
  box-sizing: border-box;
}

main section.menus {
  width: 60%;
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
}
main section.menus .menus__cards {
  width: 40%;
  height: 70vh;
  margin-bottom: 90px;
  display: flex;
  text-align: center;
}
main section.menus .menus__cards--chic {
  background-color: #FFF5FE;
  box-shadow: 0 0 25px silver;
  font-family: "Croissant One", cursive;
}
main section.menus .menus__cards--chic h2 {
  font-size: 3rem;
  padding-top: 2.5rem;
  background: linear-gradient(to right, #FDCB46, #905BFD);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main section.menus .menus__cards--chic h3 {
  font-size: 1.5rem;
  padding-top: 2.5rem;
  background: linear-gradient(to right, #FDCB46, #905BFD);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main section.menus .menus__cards--note {
  background-color: #FCDFDB;
  box-shadow: 0 0 25px silver;
  font-family: "Cookie", cursive;
}
main section.menus .menus__cards--note h2 {
  font-size: 4rem;
  padding-top: 2.5rem;
  background: #3C1218;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main section.menus .menus__cards--note h3 {
  font-size: 2.5rem;
  padding-top: 2.5rem;
  background: #3C1218;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main section.menus .menus__cards--delice {
  background-color: #F9F9F9;
  box-shadow: 0 0 25px silver;
  font-family: "Dancing Script", cursive;
}
main section.menus .menus__cards--delice h2 {
  font-size: 2.3rem;
  padding-top: 2.5rem;
  background: linear-gradient(to right, #0835E0 0%, #0887FB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main section.menus .menus__cards--delice h3 {
  font-size: 2.3rem;
  padding-top: 2.5rem;
  background: linear-gradient(to right, #0835E0 0%, #0887FB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main section.menus .menus__cards--palette {
  background-color: linear-gradient(to right, #4C9F42, #C9FF94);
  box-shadow: 0 0 25px silver;
  font-family: "Kaushan Script", cursive;
}
main section.menus .menus__cards--palette h2 {
  font-size: 2.3rem;
  padding-top: 2.5rem;
  background: linear-gradient(to right, #4C9F42, #C9FF94);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main section.menus .menus__cards--palette h3 {
  font-size: 2.3rem;
  padding-top: 2.5rem;
  background: linear-gradient(to right, #4C9F42, #C9FF94);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main section.menus-1 {
  width: 60%;
  margin: 100px auto;
  background-color: #FCDFDB;
  box-shadow: 0 0 25px silver;
  font-family: "Cookie", cursive;
}
main section.menus-1 .menus-1__details {
  display: flex;
  flex-direction: column;
}
main section.menus-1 .menus-1__details h3, main section.menus-1 .menus-1__details h4 {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 3rem;
  font-size: 3rem;
}
main section.menus-1 .menus-1__details ul {
  width: 100%;
  list-style: none;
}
main section.menus-1 .menus-1__details ul li {
  display: flex;
  padding: 1rem;
}
main section.menus-1 .menus-1__details ul li p {
  margin-left: 50px;
  font-size: 1.5rem;
}
main section.menus-1 .menus-1__details ul li .price {
  margin-right: 50px;
}

main section.menus-2 {
  width: 60%;
  margin: 100px auto;
  background-color: #FFF5FE;
  box-shadow: 0 0 25px silver;
  font-family: "Croissant One", cursive;
}
main section.menus-2 .menus-2__details {
  display: flex;
  flex-direction: column;
}
main section.menus-2 .menus-2__details h3, main section.menus-2 .menus-2__details h4 {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 3rem;
  font-size: 3rem;
}
main section.menus-2 .menus-2__details ul {
  width: 100%;
  list-style: none;
}
main section.menus-2 .menus-2__details ul li {
  display: flex;
  padding: 1rem;
}
main section.menus-2 .menus-2__details ul li p {
  margin-left: 50px;
  font-size: 1.5rem;
}
main section.menus-2 .menus-2__details ul li .price {
  margin-right: 50px;
}

main section.menus-3 {
  width: 60%;
  margin: 100px auto;
  background-color: #F9F9F9;
  box-shadow: 0 0 25px silver;
  font-family: "Dancing Script", cursive;
}
main section.menus-3 .menus-3__details {
  display: flex;
  flex-direction: column;
}
main section.menus-3 .menus-3__details h3, main section.menus-3 .menus-3__details h4 {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 3rem;
  font-size: 3rem;
}
main section.menus-3 .menus-3__details ul {
  width: 100%;
  list-style: none;
}
main section.menus-3 .menus-3__details ul li {
  display: flex;
  padding: 1rem;
}
main section.menus-3 .menus-3__details ul li p {
  margin-left: 50px;
  font-size: 1.5rem;
}
main section.menus-3 .menus-3__details ul li .price {
  margin-right: 50px;
}

main section.menus-4 {
  width: 60%;
  margin: 100px auto;
  background-color: linear-gradient(to right, #4C9F42, #C9FF94);
  box-shadow: 0 0 25px silver;
  font-family: "Kaushan Script", cursive;
}
main section.menus-4 .menus-4__details {
  display: flex;
  flex-direction: column;
}
main section.menus-4 .menus-4__details h3, main section.menus-4 .menus-4__details h4 {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 3rem;
  font-size: 3rem;
}
main section.menus-4 .menus-4__details ul {
  width: 100%;
  list-style: none;
}
main section.menus-4 .menus-4__details ul li {
  display: flex;
  padding: 1rem;
}
main section.menus-4 .menus-4__details ul li p {
  margin-left: 50px;
  font-size: 1.5rem;
}
main section.menus-4 .menus-4__details ul li .price {
  margin-right: 50px;
}

/*# sourceMappingURL=style.css.map */
