header {
  background-color: #579C87;
  width: 100%;
  z-index: 1;
  height: 15vh;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
}
header .logo {
  color: #FDCB46;
  font-family: "Roboto Slab", serif;
  font-size: 98px;
  line-height: 127px;
}

footer {
  height: 10vh;
  background-color: #579C87;
  margin-top: 10rem;
  position: sticky;
  bottom: 0;
  width: 100%;
  z-index: 1;
}
footer .footer__list {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}
footer .footer__list a {
  color: #FDCB46;
  font-size: 1.5rem;
  margin: 0 1rem;
}
footer .footer__list :hover.vibrate {
  -webkit-animation: vibrate 0.3s linear infinite both;
  animation: vibrate 0.3s linear infinite both;
}

@-webkit-keyframes vibrate {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
button {
  width: 20%;
  height: 8vh;
  background-color: #579C87;
  color: #FDCB46;
  font-size: 1.5rem;
  border-radius: 2rem;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
}
button i {
  font-size: 0.5rem;
  animation: bounce 1500ms cubic-bezier(0.28, 0.84, 0.42, 1) infinite;
  transform-origin: bottom;
}
button .dot1 {
  animation-delay: 150ms;
}
button .dot2 {
  animation-delay: 300ms;
}
button .dot3 {
  animation-delay: 450ms;
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.2, 0.8) translateY(0);
  }
  30% {
    transform: scale(0.8, 1.2) translateY(-0.5em);
  }
  50% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-0.03em);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
* {
  padding: 0;
  margin: auto;
  text-decoration: none;
  box-sizing: border-box;
}

main section.menus {
  width: 60%;
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
}
main section.menus .menus__cards {
  width: 40%;
  height: 60vh;
  margin-bottom: 90px;
  display: flex;
  text-align: center;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 1000ms;
}
main section.menus .menus__cards:hover {
  transform: scale(1.15);
  opacity: 0.5;
}
main section.menus .menus__cards--chic {
  background-color: #FFF5FE;
  box-shadow: 0 0 25px silver;
  font-family: "Croissant One", cursive;
}
main section.menus .menus__cards--chic h2 {
  font-size: 3rem;
  padding-top: 2.5rem;
  background: linear-gradient(to right, #FDCB46, #905BFD);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
}
main section.menus .menus__cards--chic h3 {
  font-size: 1.5rem;
  padding-top: 2.5rem;
  background: linear-gradient(to right, #FDCB46, #905BFD);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
}
main section.menus .menus__cards--note {
  background-color: #FCDFDB;
  box-shadow: 0 0 25px silver;
  font-family: "Cookie", cursive;
}
main section.menus .menus__cards--note h2 {
  font-size: 4rem;
  padding-top: 2.5rem;
  background: #3C1218;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
}
main section.menus .menus__cards--note h3 {
  font-size: 2.5rem;
  padding-top: 2.5rem;
  background: #3C1218;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
}
main section.menus .menus__cards--delice {
  background-color: #F9F9F9;
  box-shadow: 0 0 25px silver;
  font-family: "Dancing Script", cursive;
}
main section.menus .menus__cards--delice h2 {
  font-size: 2.3rem;
  padding-top: 2.5rem;
  background: linear-gradient(to right, #0835E0 0%, #0887FB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
}
main section.menus .menus__cards--delice h3 {
  font-size: 2.3rem;
  padding-top: 2.5rem;
  background: linear-gradient(to right, #0835E0 0%, #0887FB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
}
main section.menus .menus__cards--palette {
  background-color: linear-gradient(to right, #4C9F42, #C9FF94);
  box-shadow: 0 0 25px silver;
  font-family: "Kaushan Script", cursive;
}
main section.menus .menus__cards--palette h2 {
  font-size: 2.3rem;
  padding-top: 2.5rem;
  background: linear-gradient(to right, #4C9F42, #C9FF94);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
}
main section.menus .menus__cards--palette h3 {
  font-size: 2.3rem;
  padding-top: 2.5rem;
  background: linear-gradient(to right, #4C9F42, #C9FF94);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
}

main section.menus-1 {
  width: 60%;
  margin: 100px auto;
  background-color: #FCDFDB;
  box-shadow: 0 0 25px silver;
  font-family: "Cookie", cursive;
}
main section.menus-1 .menus-1__details {
  display: flex;
  flex-direction: column;
}
main section.menus-1 .menus-1__details h3, main section.menus-1 .menus-1__details h4 {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 3rem;
}
main section.menus-1 .menus-1__details ul {
  width: 100%;
  list-style: none;
}
main section.menus-1 .menus-1__details ul li {
  display: flex;
  padding: 1rem;
}
main section.menus-1 .menus-1__details ul li p {
  margin-left: 50px;
}
main section.menus-1 .menus-1__details ul li .price {
  margin-right: 50px;
}
main section.menus-1 .menus-1__details .title {
  font-size: 4rem;
}
main section.menus-1 .menus-1__details .title .--note {
  font-size: 5rem;
}
main section.menus-1 .menus-1__details .title-plat {
  display: flex;
  flex-direction: row;
}
main section.menus-1 .menus-1__details .title-plat h4 {
  font-size: 3rem;
}
main section.menus-1 .menus-1__details .title-plat h4:after {
  content: "";
  height: 0.2rem;
  width: 0%;
  background-color: #3C1218;
  transition: width 0.4s;
}
main section.menus-1 .menus-1__details .title-plat h4:hover:after {
  width: 100%;
}
main section.menus-1 .menus-1__details .title-plat img {
  width: 20%;
}
main section.menus-1 .menus-1__details p {
  font-size: 2rem;
}

main section.menus-2 {
  width: 60%;
  margin: 100px auto;
  background-color: #FFF5FE;
  box-shadow: 0 0 25px silver;
  font-family: "Croissant One", cursive;
}
main section.menus-2 .menus-2__details {
  display: flex;
  flex-direction: column;
}
main section.menus-2 .menus-2__details h3, main section.menus-2 .menus-2__details h4 {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 3rem;
}
main section.menus-2 .menus-2__details ul {
  width: 100%;
  list-style: none;
}
main section.menus-2 .menus-2__details ul li {
  display: flex;
  padding: 1rem;
}
main section.menus-2 .menus-2__details ul li p {
  margin-left: 50px;
}
main section.menus-2 .menus-2__details ul li .price {
  margin-right: 50px;
}
main section.menus-2 .menus-2__details .title {
  font-size: 2.5rem;
  background: linear-gradient(to right, #FDCB46, #905BFD);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
}
main section.menus-2 .menus-2__details .title-plat {
  display: flex;
  flex-direction: row;
}
main section.menus-2 .menus-2__details .title-plat h4 {
  font-size: 1.5rem;
}
main section.menus-2 .menus-2__details .title-plat h4:after {
  content: "";
  height: 0.2rem;
  width: 0%;
  background-color: #3C1218;
  transition: width 0.4s;
}
main section.menus-2 .menus-2__details .title-plat h4:hover:after {
  width: 100%;
}
main section.menus-2 .menus-2__details .title-plat img {
  width: 30%;
  height: 3vh;
}
main section.menus-2 .menus-2__details .entree {
  color: #C67412;
}
main section.menus-2 .menus-2__details .entree h4:after {
  background-color: #C67412;
}
main section.menus-2 .menus-2__details .plat {
  color: #A56799;
}
main section.menus-2 .menus-2__details .plat h4:after {
  background-color: #A56799;
}
main section.menus-2 .menus-2__details .dessert {
  color: #6E4CCC;
}
main section.menus-2 .menus-2__details .dessert h4:after {
  background-color: #6E4CCC;
}
main section.menus-2 .menus-2__details p {
  font-size: 1rem;
}

main section.menus-3 {
  width: 60%;
  margin: 100px auto;
  background-color: #F9F9F9;
  box-shadow: 0 0 25px silver;
  font-family: "Dancing Script", cursive;
}
main section.menus-3 .menus-3__details {
  display: flex;
  flex-direction: column;
}
main section.menus-3 .menus-3__details h3, main section.menus-3 .menus-3__details h4 {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 3rem;
}
main section.menus-3 .menus-3__details ul {
  width: 100%;
  list-style: none;
}
main section.menus-3 .menus-3__details ul li {
  display: flex;
  padding: 1rem;
}
main section.menus-3 .menus-3__details ul li p {
  margin-left: 50px;
}
main section.menus-3 .menus-3__details ul li .price {
  margin-right: 50px;
}
main section.menus-3 .menus-3__details .title {
  font-size: 2.5rem;
  background: linear-gradient(to right, #0835E0 0%, #0887FB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
}
main section.menus-3 .menus-3__details .title-plat {
  display: flex;
  flex-direction: row;
}
main section.menus-3 .menus-3__details .title-plat h4 {
  font-size: 2rem;
}
main section.menus-3 .menus-3__details .title-plat h4:after {
  content: "";
  height: 0.2rem;
  width: 0%;
  background-color: #0228DD;
  transition: width 0.4s;
}
main section.menus-3 .menus-3__details .title-plat h4:hover:after {
  width: 100%;
}
main section.menus-3 .menus-3__details .title-plat img {
  width: 30%;
  height: 3vh;
}
main section.menus-3 .menus-3__details p {
  font-size: 1.5rem;
}

main section.menus-4 {
  width: 60%;
  margin: 100px auto;
  background-color: linear-gradient(to right, #4C9F42, #C9FF94);
  box-shadow: 0 0 25px silver;
  font-family: "Kaushan Script", cursive;
}
main section.menus-4 .menus-4__details {
  display: flex;
  flex-direction: column;
}
main section.menus-4 .menus-4__details h3, main section.menus-4 .menus-4__details h4 {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 3rem;
}
main section.menus-4 .menus-4__details ul {
  width: 100%;
  list-style: none;
}
main section.menus-4 .menus-4__details ul li {
  display: flex;
  padding: 1rem;
}
main section.menus-4 .menus-4__details ul li p {
  margin-left: 50px;
}
main section.menus-4 .menus-4__details ul li .price {
  margin-right: 50px;
}
main section.menus-4 .menus-4__details .title {
  font-size: 2.5rem;
  background: linear-gradient(to right, #4C9F42, #C9FF94);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
}
main section.menus-4 .menus-4__details .title-plat {
  display: flex;
  flex-direction: row;
}
main section.menus-4 .menus-4__details .title-plat h4 {
  font-size: 2rem;
}
main section.menus-4 .menus-4__details .title-plat h4:after {
  content: "";
  height: 0.2rem;
  width: 0%;
  background-color: #41963C;
  transition: width 0.4s;
}
main section.menus-4 .menus-4__details .title-plat h4:hover:after {
  width: 100%;
}
main section.menus-4 .menus-4__details .title-plat img {
  width: 30%;
  height: 3vh;
}
main section.menus-4 .menus-4__details .title-plat img.line-right {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
main section.menus-4 .menus-4__details p {
  font-size: 1.5rem;
}

.mentions-legales {
  margin: 10rem;
  height: 60vh;
}

.fa-music {
  font-size: 3rem;
  background-image: linear-gradient(to right, #F05A61 0%, #F6916A 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*# sourceMappingURL=style.css.map */
