@import"./utils/_variables.scss";
@import"./utils/_mixin.scss";

@import"./layout/_header.scss";
@import"./layout/footer.scss";

@import"./components/_button.scss";

@import"./base/_typography.scss";
@import"./base/reset.scss";

@import"./pages/accueil.scss";
@import"./pages/lanoteenchantée.scss";
@import"./pages/lechicàlafrançaise.scss";
@import"./pages/ledelicedespapilles.scss";
@import"./pages/lapalettedugout.scss";

.fa-music {
    font-size: 3rem;
    background-image: linear-gradient(to right,#F05A61 0%, #F6916A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

      
     
 









