header {
    background-color: $color-primary;
    width: 100%;
    z-index: 1;
    height: 15vh;
    display: flex;
    justify-content: center;
    position: sticky;
    top:0;
 
    & .logo {
         color: $color-secondary;
         font-family: $font-primary;
         font-size: 98px;
         line-height: 127px;       
    }
}