header {
    background-color: $color-primary;
    width: 100%;
    z-index: 1;
    height: 15vh;
    display: flex;
    justify-content: center;
    & .logo {
         color: $color-secondary;
         font-family: $font-primary;
         font-size: 98px;
         line-height: 127px;
         @include mobile {
             font-size:calc(98px * 0.5) ;
         }       
    }
}