button {
    width: 20%;
    height: 8vh;
    background-color: $color-primary;
    color: $color-secondary;
    font-size: 1.5rem;
    border-radius: 2rem;
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    & .fa-circle {
        font-size: 0.5rem;
    }  
}