button {
    width: 550px;
    height: 115px;
    background-color: $color-primary;
    color: $color-secondary;
    font-size: 3rem;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    & .fa-circle {
        font-size: 1.3rem;
    }  
}