
main {
    section.menus-2{
        @include menus;
        & .menus-2__details{ 
             @include card(card-chic);
            @include menu-details;
            & .title {
                font-size:4rem;
                @include gradient-text(card-chic);
                @include  mobile {
                    font-size: 2.5rem;
                } 
            }
            & .title-plat{
                font-family: $font-menu-chic;
                @include title-dish;
                h4 {
                    font-size: 1.3rem;
                    @include mobile {
                    font-size: 1.2rem;
                    }
                    &:after  {
                        content: "";
                        height: 0.2rem;
                        width: 0%;
                        background-color: $color-text-note;
                        transition: width 0.4s;   
                    }
                    &:hover:after {
                        width: 100%;
                       }
                }  
                & img{
                    width: 30%;
                    height: 5vh;
                    @include mobile {
                        width: 30%;
                        display: block;
                    }   
                   }  
            }
            & .entree {
                color: #C67412 ;
                & h4:after {
                    background-color:#C67412 ;
                }
            }
            & .plat {
                color:#A56799;
                & h4:after {
                    background-color:#A56799;
                }
            }
            .dessert {
                color:#6E4CCC;
                & h4:after {
                    background-color:#6E4CCC;
                }
            }
            & ul {
                padding: 0 5rem;
                @include mobile {
                    padding: 0 2rem;
                }
                & p {
                    font-size: 1.3rem;
                }
            
            }
            
        }   
    }

}