@mixin menus {
    width: 60%;
    margin: 100px auto;
}

@mixin cards {
    width: 40%;
    height:70vh;
    margin-bottom: 90px;
    display: flex;
    text-align: center;
}

@mixin card($menu) {
    background-color: map-get($bg-color, $menu);
    box-shadow: 0 0 25px lighten(grey, 25%);
    font-family: map-get($font-family, $menu );
}

@mixin anim-zoom {
    transform: scale(1);
    transition-property: transform;
    transition-duration: 1000ms;
    &:hover {
        transform: scale(1.15);
        opacity: 0.5;
    }  
}


@mixin gradient-text($menu) {
	background: map-get($text-color, $menu);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin title-size($title) {
    font-size: map-get($font-size,$title );
    padding-top: 2.5rem;
    
}

@mixin menu-details {
    display: flex;
    flex-direction: column;

    h3,h4{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 3rem;
    }
  ul{
       width: 100%;
       list-style: none;
       & li {
           display: flex;
           padding: 1rem;
           p {
               margin-left: 50px;   
           }
           .price {
            margin-right: 50px;  
           }
       }    
    }
  
}

