$color-primary:#579C87;
$color-secondary:#FDCB46;

$color-card-note:#FCDFDB;
$color-card-chic:#FFF5FE;
$color-card-delice:#F9F9F9;
$color-card-palette:#FFFFFF;

$color-text-note: #3C1218;
$color-text-chic:linear-gradient($color-secondary, #905BFD );

//fonts//

$font-primary:'Roboto Slab', serif;
$font-secondary:'Roboto', sans-serif;
$font-note:'Cookie', cursive;
$font-chic:'Croissant One', cursive;
$font-delice:'Dancing Script', cursive;
$font-palette:'Kaushan Script', cursive;



//font size//

$font-size-h3:68px;
$font-size-h2:92px;

