$color-primary:#579C87;
$color-secondary:#FDCB46;

$color-card-note:#FCDFDB;
$color-card-chic:#FFF5FE;
$color-card-delice:#F9F9F9;
$color-card-palette:#FFFFFF;

$color-text-note: #3C1218;
$color-text-chic:linear-gradient($color-secondary, #905BFD);
$color-text-delice:linear-gradient(#0835E0,#0887FB);
$color-card-palette:linear-gradient(#4C9F42,#C9FF94);

//fonts//

$font-primary:'Roboto Slab', serif;
$font-secondary:'Roboto', sans-serif;
$font-note:'Cookie', cursive;
$font-chic:'Croissant One', cursive;
$font-delice:'Dancing Script', cursive;
$font-palette:'Kaushan Script', cursive;



//font size//

$font-size-h3:68px;
$font-size-h2:92px;

$bg-color:(
    primary:$color-primary,
    secondary:$color-secondary,
    card-note:$color-card-note,
    card-chic:$color-card-chic,
    card-delice:$color-card-delice,
    card-palette:$color-card-palette,
);

$text-color:(
    header:$color-secondary,
    card-note:$color-text-note,
    card-chic:$color-text-chic,
    card-delice:$color-text-delice,
    card-palette:$color-card-palette,
);

$font-size: (
    h2: $font-size-h2,
    h3:$font-size-h3,
    footer:48px,   
);

$font-family:(
    card-note:$font-note,
    card-chic:$font-chic,
    card-delice:$font-delice,
    card-palette:$font-palette,
)



